.bottom_bar {
    background-color: #1E1E1E;
    height: 24px;
}

.tab {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #2C2C2C;
    width: auto;
    child-left: 5px;
    child-right: 5px;
    child-top: 1s;
    child-bottom: 1s;
}

.tab > label {
    font: "min-sans-medium";
    font-size: 10.0;

}

.tab.selected {
    background-color: #3D3D3D;
}
